<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>David's Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">David's Blog</a></h1>
    </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <!--<div>
        <p>published: 12.04.2018, 06:05</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>-->
</body>
</html>
